{% macro Flux(id, titre, URL, resume, imageurl, imageLien, imageTitle) %}
    <div class="center_flux">
        <div class="flux_image">
            <a href="{{ imageLien }}"><img src="{{imageurl}}" title="{{ imageTitle }}"/></a>
        </div>
        <div class="flux_content">
            <a href="{{URL}}"><h4>{{titre}}</h4></a>
            <p>{{ resume }}</p>
        </div>
    </div>
{% endmacro %}