{% macro Flux(id, titre, URL, resume, imageurl, imageLien, imageTitle, details, admin) %}
    <div class="center_flux">
        <div class="flux_image">
            <a href="{{ imageLien }}"><img src="{{imageurl}}" title="{{ imageTitle }}"/></a>
        </div>
        <div class="flux_content">
            <div class="flux_title">
                <a href="{{URL}}"><h4>{{titre}}</h4></a>
                {% if details == true %}
                    <span class="news_more"><a href="?action=afficherNewsDe&flux={{ id }}"> - Voir les actualités</a></span>
                {%  endif %}
            </div>
            <p>{{ resume }}</p>
        </div>
            {% if Admin %}
                <div class="flux_admin_control" >
                    <form action="?action=supprimerFlux" method="post" onsubmit="return confirm('Confirmer la suppression du flux {{ titre }}')">
                        <input type="hidden" name="id" value="{{ id }}" />
                        <input type="submit" value="Supprimer"  />
                    </form>
                </div>
            {% endif %}

    </div>
{% endmacro %}