{% import 'MacroNews.twig' as VueNew %}

<div class="center_newslist">
    <div class="center_button_bar">
        <button onclick="setNewsState(true)">Dérouler tout</button>
        <button onclick="setNewsState(false)">Replier tout</button>
    </div>
    {% if News is empty %}
        <p style="text-align: center">Aucune News</p>
    {% endif %}
    {% for element in News %}
        {#Appelle macro pour afficher toutes les News#}
        {{ VueNew.News(element.id, element.title, element.description, element.url, element.flux, Fluxs[element.Flux].favicon, Fluxs[element.Flux].imageTitre, element.datePub ) }}
    {% endfor %}
</div>

{% if Flux is defined %}
    <div class="page_navigation">
        {%  if numpage > 1  %}
            <a href="?action=afficherNewsDe&flux={{ Flux.id }}&page={{ numpage-1 }}">Précédent</a>
        {% endif %}
        |
        {% if nbTotNews > nbNewsPage*numpage %}
            <a href="?action=afficherNewsDe&flux={{ Flux.id }}&page={{ numpage+1 }}">Suivant</a>
        {% endif %}
    </div>
{% else %}
<div class="page_navigation">
    {%  if numpage > 1  %}
        <a href="?page={{ numpage-1 }}">Précédent</a>
    {% endif %}
     |
    {% if nbTotNews > nbNewsPage*numpage %}
        <a href="?page={{ numpage+1 }}">Suivant</a>
    {% endif %}
</div>
{% endif %}